@import "./base.css";

* {
  margin: 0;
  padding: 0;
}

.color1 {
  color: #0d1b2a;
}
.color2 {
  color: #1b263b;
}
.color3 {
  color: #415a77;
}
.color4 {
  color: #778da9;
}
.color5 {
  color: #e0e1dd;
}
